@{
    ViewData["Title"] = "Artistik";
}

<div class="text-center">
    <h2>Добредојдовте во Артистик</h2>
    <br />
    <img src="https://www.pictureframesexpress.co.uk/blog/wp-content/uploads/2020/05/7-Tips-to-Finding-Art-Inspiration-Header-1024x649.jpg" alt="Paintings" width="1100" height="300" />

    <p>
        <div style="font-weight: bold;">“Painting is just another way of keeping a diary.” </div>
        ― Pablo Picasso
</div>
<br />
<div style="text-align: left;">
    <span style="float:right;">
        Работно време <br>
        Понеделник - Петок: 09:00 - 21:00 <br>
        Сабота : 10:00 - 20:00
    </span>
    Контакт <br />
    Email: artistik@gmail.com <br />
    Телефон: 023 311 <br />
    Локација: ул.Рузвелтова бр.6, Скопје <br />
</div>
</p>
